
h1
{
font-size: 35px;    
margin-top: 0px;
color:rgb(10, 96, 146);
text-align:center;
background-color: rgb(179, 169, 169);
}
.tab180 
{
    display: inline-block;
    margin-left: 180px;
}
.newcustomer
{
    /*background-color: teal*/
    box-shadow: dodgerblue;
    margin-top: 5px;
    margin-left: 20px;
}
input[type=text] {
    width: 60%;
    padding: 6px 15px;
    margin: 3px 0;
    box-sizing: border-box;
  }
  input[type=date] {
    width: 20%;
    padding: 4px 10px;
    margin: 3px 0px;
    box-sizing: border-box;
  }
#accounttype
{
    width: 20%;
    padding: 6px 15px;
    margin: 2px 10px;
    box-sizing: border-box;  
}
#cid
{
    width: 5%;
    padding: 4.5px 15px;
    margin: 2px 0;
    box-sizing: border-box;
}
#pno
{
    width: 20%; 
}