table.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
td.sectionhead {
    text-align: center;
    background-color: gray;
    color: white;
}
td.sectionlabel {
    text-align: right;
}

.col-25 {
    float: left;
    width: 25%;
    margin: 6px;
}
.col-75 {
    width: 75%;
    margin: 6px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: lightgray;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*--------CSS for Sidebar ------------*/
  div.sidebar {
      background-color: darkslateblue;
      height: 100%; /*Works only if position is fixed*/
      width: 200px;
      z-index: 1;   /*Always on top*/
      position: fixed;
      top: 0px;
      padding: 10px 10px 10px 10px;
  }

  div.sidebar a {
        color: white;
        display: block;
        text-decoration: none;
  }
  div.sidebar:hover {
      color: aquamarine;
  }
  body {
      margin-top: 0px;
      margin-left: 0px;
  }
  .main {
      margin-left: 200px;
      padding-left: 40px;
  }
  #close {
        color: white;
        float: right;
  }
  #close:hover {
      cursor: pointer;
  }